<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="LOG_BASEPATH" value="${user.home}/books/logs/" />
    <property name="LOG_PATTERN" value="%date %level [%thread] %logger{40} [%X] %msg %n" />

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASEPATH}books-CURRENT.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASEPATH}-${instance.node}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>990MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
  
  <logger name="com.popa.books" level="INFO"/>
  

  <root level="debug">
    <appender-ref ref="fileAppender" />
  </root>
</configuration>